@model Promact.Oauth.Server.Models.IdentityServer4.ScopeViewModel

<li class="list-group-item">
    <label>
        <input class="consent-scopecheck"
               type="checkbox"
               name="ScopesConsented"
               id="scopes_@Model.Name"
               value="@Model.Name"
               checked="@Model.Checked"
               disabled="@Model.Required" />
        @if (Model.Required)
        {
            <input type="hidden"
                   name="ScopesConsented"
                   value="@Model.Name" />
        }
        <span>@Model.DisplayName</span>
        @if (Model.Emphasize)
        {
            <span></span>
        }
    </label>
    @if (Model.Required)
    {
        <span>(required)</span>
    }
    @if (Model.Description != null)
    {
        
            <span class="desc-style" for="scopes_@Model.Name">(@Model.Description)  </span>
      
    }
</li>