<md-toolbar class="app-toolbar">
    <div class="logout-link">
        <button id="menu-button" (click)="start.toggle()"><i class="material-icons">menu</i></button>
     
    </div>
</md-toolbar>
<div class="app-container">
 
    @model Promact.Oauth.Server.Models.IdentityServer4.ConsentViewModel
    <div class="page-consent ">
        <div>
            <div>
                @if (Model.ClientLogoUrl != null)
            {
            <div class="client-logo"><img src="@Model.ClientLogoUrl"></div>
            }
                <h1>
                    <span>@Model.ClientName</span> 
                   is requesting your permission
                </h1>
            </div>
        </div>
        <div>
            <div>
                @Html.Partial("_ValidationSummary")
                <form asp-action="Index" class="consent-form">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <p>Uncheck the permissions you do not wish to grant.</p>

                    @if (Model.IdentityScopes.Any())
                {
                <div>
                    <div>
                      
                        <h4 class="app-title">Personal Information:</h4> 
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes)
                            {
                            @Html.Partial("_ScopeListItem", scope)
                            }
                    </ul>
                </div>
                }
                    @if (Model.ResourceScopes.Any())
                {
                <div>
                    <h4 class="app-title">
                        Application Access:
                    </h4>
                    <ul class="list-group">
                        @foreach (var scope in Model.ResourceScopes)
                            {
                            @Html.Partial("_ScopeListItem", scope)
                            }
                    </ul>
                </div>
                }
                    @if (Model.AllowRememberConsent)
                {
                <div>
                    <label>
                        <input class="consent-scopecheck" asp-for="RememberConsent" />
                        <strong>Remember My Decision</strong>
                    </label>
                </div>
                }
                    <div class="mt-15">
                        <button name="button" value="yes" class="confirm-btn" autofocus>Yes, Allow</button>
                        <button name="button" value="no" class="cancel-btn">No, Do Not Allow</button>
                        @if (Model.ClientUrl != null)
                    {
                    <a target="_blank" href="@Model.ClientUrl">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        <strong>@Model.ClientName</strong>
                    </a>
                    }
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>