@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<div class="auth">
    <div class="auth-container" id="fp-container">
        <div class="card">
            <header class="auth-header">
                <h1 class="auth-title">
                    Promact Oauth 
                </h1>
            </header>
            <div class="fp-content login-form">
        
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="form-horizontal">
                 <p class="fp-text text-center">Enter your email address and we'll help you reset your password</p>
                    @*<p>@ViewData["Title"]</p>*@
                    <div class="form-group">
                       
                        <div class="col-md-10 text-center">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        @if (@ViewData["EmailNotExist"] != null || @ViewData["MailSentSuccessfully"] != null)
                        {
                            @if (@ViewData["EmailNotExist"] != null)
                            {
                                <span class="text-danger">@ViewData["EmailNotExist"]</span>
                            }
                            else if (@ViewData["MailSentSuccessfully"] != null)
                            {
                                <span class="text-success">@ViewData["MailSentSuccessfully"]</span>
                            }
                        }
                    </div>
                    <div class="form-group text-center">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </div>
                </form>
               
                
                </div>
            </div>

        </div>
    </div>
                 @section Scripts {
                    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
                }
